<form [formGroup]="form">
    <fc-lib-radio-button
      [radioValue]="'male'"
      formControlName="radioControl"
      [name]="'test'"
      [checked]="value === 'male'"
    >
      <span label>Male</span>
      <span hint>Hint</span>
      <span error>Error</span>
    </fc-lib-radio-button>
    <fc-lib-radio-button
      [radioValue]="'female'"
      formControlName="radioControl"
      [name]="'test'"
      [checked]="value === 'female'"
    >
      <span label>Female</span>
      <span hint>Hint</span>
      <span error>Error</span>
    </fc-lib-radio-button>
  </form>
  <div></div>