<div class="text-red mt-0.5  text-sm absolute transition-all duration-200" [ngClass]="{'opacity-0': status !== 'INVALID' || !touched , '-top-2': status !== 'INVALID' || !touched,
    'opacity-100': status === 'INVALID' && touched, 'top-0': status === 'INVALID' && touched}">
  <ng-content></ng-content>
</div>
