<fc-lib-accordion [multi]="true" #accordion>
    <fc-lib-expansion-panel #panel1>
      <div title>Header 1</div>
      <div discription>Discription 1</div>
      <div content>
        Test-Content in panel 1
      </div>
      <div footer>
        <fc-lib-button [fill]="false" [color]="'basic'" (click)="accordion.openNext(panel1.tabindex)">Next</fc-lib-button>
      </div>
    </fc-lib-expansion-panel>
    <fc-lib-expansion-panel #panel2>
        <div title>Header 2</div>
        <div discription>Discription 2</div>
        <div content>
          Test-Content in panel 2
        </div>
      <div footer>
        <fc-lib-button [fill]="false" [color]="'danger'" (click)="accordion.openLast(panel2.tabindex)">Back</fc-lib-button>
        &nbsp;
        <fc-lib-button [fill]="false" [color]="'basic'" (click)="accordion.openNext(panel2.tabindex)">Next</fc-lib-button>
      </div>
    </fc-lib-expansion-panel>
     <fc-lib-expansion-panel #panel3>
        <div title>Header 3</div>
        <div discription>Discription 3</div>
        <div content>
          Test-Content in panel 3
        </div>
      <div footer>
        <fc-lib-button [fill]="false" [color]="'danger'" (click)="accordion.openLast(panel3.tabindex)">Back</fc-lib-button>
      </div>
    </fc-lib-expansion-panel>
  </fc-lib-accordion>

  <div class="h-5"></div>
  <fc-lib-button [fill]="false" [color]="'danger'" (click)="accordion.openLast()" class="ml-5">Back</fc-lib-button>
    &nbsp;
  <fc-lib-button [fill]="false" [color]="'basic'" (click)="accordion.openNext()">Weiter</fc-lib-button>