<div class="my-4 w-full ">
  <div class="styled-number-input w-24" [ngClass]="{ 'ml-auto': align === 'right', 'm-auto': align === 'center',
                                                          'md:ml-auto md:mr-0': alignMD === 'right', 'md:m-auto': alignMD === 'center', 'md:m-0': alignMD === 'left',
                                                          'lg:ml-auto lg:mr-0': alignLG === 'right', 'lg:m-auto': alignLG === 'center', 'lg:m-0': alignLG === 'left'}">
    <div class="flex flex-row h-7 w-full bg-transparent mt-1">
      <button
        class=" m-0 bg-gray-100 text-gray-400 hover:text-gray-900 hover:bg-gray-100 h-full w-7 cursor-pointer" (click)="decrease()">
        <span class="m-auto text-lg">−</span>
      </button>
      <input type="number" class="flex-auto p-0 border-0 outline-none text-center w-1/3 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default text-gray-700"
        [ngClass]="{'placeholder-red': status === 'INVALID' && touched, 'text-red': status === 'INVALID' && touched}"
        (change)="callOnChange($event)" (keyup)="onKeyUp($event)" (blur)="onTouchedFN()" [value]="value">
      <button
        class="m-0 bg-gray-100 text-gray-400 hover:text-gray-900 hover:bg-gray-100 h-full w-7 cursor-pointer" (click)="increase()">
        <span class="m-auto text-md">+</span>
      </button>
    </div>
  </div>
</div>
