<form [formGroup]="inputForm">
    <fc-lib-text-input formControlName="inputControl" [color]="color">
        <span label>Test-Input</span>
        <span hint>hint</span>
        <span error>Dieses Feld wird benötigt!</span>
    </fc-lib-text-input>    
</form>