<!-- This component uses some custom classes in its css file -->
<div class="styled-checkbox relative px-5 left-align mb-6">
  <input [id]="randomId" type="checkbox" [value]="true" class=" left-screen hidden absolute bg-gray-100
    focus:bg-gray-200 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500 focus:border-transparent"
    (change)="callOnChange($event)" (blur)="onTouchedFN()" [checked]="checked">
  <label for="{{randomId}}" class="before:absolute before:-top-0 before:rounded-sm  pl-4 cursor-pointer
      before:left-0 before:w-5 before:h-5 before:ml-4 before:bg-gray-100 before:border-gray-200 before:border
      after:left-5 after:w-3 after:h-3 after:absolute after:top-1 after:rounded-sm after:bg-gray-500 after:opacity-0 after:scale-0
      after:transition-all after:duration-300 after:rotate-180 after:z-30 before:z-30">
    <fc-lib-label [status]="status" [touched]="touched">
      <ng-content select="[label]"></ng-content>
    </fc-lib-label>
  </label>
  <div class="-ml-2 relative pt-0.5">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>

