<form [formGroup]="form">

    <fc-lib-select [valueType]="'number'" formControlName="selectControl"
        id="selectTest" [placeholder]="placeholder" (change)="onChangeOption(getSelectControl.value)">
        <span label>Test-Optionen</span>
        <option [value]="select.id" *ngFor="let select of allSelects; let i = index"
            [selected]="select.id === getSelectControl.value">
            {{ select.name }}
        </option>
        <span error>Eine Option muss angegeben werden</span>
    </fc-lib-select>

</form>