<!-- This component uses some custom classes in its css file -->
<div class="styled-checkbox w-full">
  <!-- 'right-5 left-auto mr-1 is just a hack because right-6 gets wrongly purged, probably because of duplication or something -->
  <div class="styled-checkbox absolute w-0 -mt-2.5 top-1/2"
  [ngClass]="{ 'right-5 left-auto mr-1': align === 'right', 'left-1/2 -ml-3': align === 'center', 'left-0': align === 'left',
  'md:left-auto right-6': alignMD === 'right', 'md:left-1/2 md:-ml-3' : alignMD === 'center', 'md:left-0': alignMD === 'left',
  'lg:left-auto right-6': alignLG === 'right', 'lg:left-1/2 lg:-ml-3': alignLG === 'center', 'lg:left-0': alignLG === 'left'}">
    <input [id]="randomId" type="checkbox" [value]="true" class=" left-screen hidden absolute bg-gray-100
      focus:bg-gray-200 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500 focus:border-transparent"
      (change)="callOnChange($event)" (blur)="onTouchedFN()" [checked]="checked">
    <label for="{{randomId}}" class="before:absolute before:-top-0 before:rounded-sm cursor-pointer
        before:left-0 before:w-6 before:h-6 before:bg-gray-100 before:border-gray-200 before:border
        after:left-1 after:w-4 after:h-4 after:absolute after:top-1 after:rounded-sm after:bg-gray-500 after:opacity-0 after:scale-0
        after:transition-all after:duration-300 after:rotate-180 after:z-30 before:z-30">
      <fc-lib-label [status]="status" [touched]="touched">
        <ng-content select="[label]"></ng-content>
      </fc-lib-label>
    </label>
  </div>
</div>
