<div class="my-4">
  <fc-lib-label [status]="status" [touched]="touched">
    <ng-content select="[label]"></ng-content>
  </fc-lib-label>
  <input type="text" class="mt-2 block w-full focus:bg-white focus:ring-0 text-sm placeholder-gray-400"
  [ngClass]="{'placeholder-error': status === 'INVALID' && touched,'border-error': status === 'INVALID' && touched, 'text-error': status === 'INVALID' && touched, 'border-gray-400': color === 'standard', 'border-orange-500': color === 'orange-500' }"
  [placeholder]="placeholder" (change)="callOnChange($event)" (keyup)="onKeyUp($event)" (blur)="onTouchedFN()" [value]="value">
  <div class=" relative">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
