<fc-lib-card [rounded]="true" [color]="color">
    <fc-lib-card-header [color]="color">Header here</fc-lib-card-header>
    <fc-lib-card-content [color]="color">Content for the card test</fc-lib-card-content>
    <fc-lib-card-sub-header [color]="color">Subheader here</fc-lib-card-sub-header>
    <fc-lib-card-footer [color]="color">Footer here</fc-lib-card-footer>
</fc-lib-card>
