<div class=" w-full lg:p-5 md:p-5 sm:py-5 sm:px-3 border-y lg:border-solid md:border-solid sm:border-none" [ngClass]="{ 'border-orange-500': color === 'orange-500', 'border-blue-200': color === 'standard'}">
    <ng-content></ng-content>
  </div>
