
<div class=" bg-white shadow-md transition-margin duration-200 ease-in-out mx-5" [ngClass]="{'rounded-lg': rounded, 'my-5': insideAccordion && expanded}">
  <div class="w-full border-b border-slate-300 border-solid px-5 py-3  flex flex-1 flex-row items-center gap-2 relative"
    (click)="toggle()" [ngClass]="{'hover:cursor-pointer': !disabled}">
    <div class="text-xl line-height-2 bold flex-grow basis-0" [ngClass]="{'text-gray-400': disabled}">
      <ng-content  select="[title]"></ng-content>
    </div>
    <div class="text-base mt-1 text-slate-700 align-bottom basis-0 flex-grow">
      <ng-content select="[description]"></ng-content>
    </div>
    <div *ngIf="!expanded"><div class="rotate-90 w-2 text-slate-700" [ngClass]="{'text-gray-400': disabled}">&#10095;</div></div>
    <div *ngIf="expanded"><div class="rotate-90 w-2 text-slate-500" [ngClass]="{'text-gray-400': disabled}">&#10096;</div></div>
  </div>
  <div class="overflow-hidden transition-height transit duration-200 ease-in-out" [ngStyle]="{'height': height + 'px'}" #content>
    <div class="box-border px-5" #innerContent>
      <div class="h-5">

      </div>
      <ng-content select="[content]"></ng-content>
      <div class=" border-t border-solid border-slate-300 pt-2 mt-2 empty:hidden" >
          <ng-content select="[footer]"></ng-content>
      </div>
      <div class="h-5">

      </div>
    </div>
  </div>
</div>
