<div class="text-sky-700 mt-0.5  text-sm absolute transition-all duration-200" [ngClass]="{'opacity-0': status === 'INVALID' && touched, '-top-2': status === 'INVALID' && touched,
    'opacity-100': status !== 'INVALID', 'top-0': status !== 'INVALID'}">
  <ng-content></ng-content>
</div>
