<div class="text-sm bg-white md:m-5 m-1.5 rounded-t-xl rounded-b-lg border text-gray-900"
[ngClass]="{'border-orange-500': color === 'orange-500', 'border-blue-200': color === 'standard'}">
    <ng-content></ng-content>
</div>
