<button class="py-3 px-5 box-border uppercase font-bold ease-linear transition-all duration-150
  disabled:bg-transparent disabled:text-gray-200 disabled:border-2 disabled:border-gray-200"
  [ngClass]="{
    'border-2 hover:text-white': !fill,
    'text-white': fill,
    'bg-blue-900': color === 'basic' && fill,
    'text-blue-900': color ==='basic' && !fill,
    'border-blue-900 hover:bg-blue-900': color === 'basic',

    'bg-orange-500': color === 'secondary' && fill,
    'text-orange-500': color ==='secondary' && !fill,
    'border-orange-500 hover:bg-orange-500': color === 'secondary',

    'bg-red': color === 'danger' && fill,
    'text-red': color ==='danger' && !fill,
    'border-red hover:bg-red': color === 'danger',

    'bg-green-500': color === 'success' && fill,
    'text-green-500': color ==='success' && !fill,
    'border-green-500 hover:bg-green-500': color === 'success',

    'bg-gray-300 text-gray-500': disabled
  }"
    [disabled]="disabled">
  <ng-content></ng-content>
</button>
