<div class="my-4">
  <fc-lib-label [status]="status" [touched]="touched">
    <ng-content select="[label]"></ng-content>
  </fc-lib-label>
  <div class="styled-number-input h-10 w-32">
    <div class="flex flex-row h-7 w-full bg-transparent mt-1">
      <button
        class=" m-0 bg-gray-100 text-gray-400 hover:text-gray-900 hover:bg-gray-100 h-full w-7 cursor-pointer" (click)="decrease()">
        <span class="m-auto text-lg">−</span>
      </button>
      <input type="number" class="p-0 border-0 outline-none text-center w-1/3 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700"
        [ngClass]="{'placeholder-red': status === 'INVALID' && touched, 'text-red': status === 'INVALID' && touched}"
        (change)="callOnChange($event)" (keyup)="onKeyUp($event)" (blur)="onTouchedFN()" [value]="value">
      <button
        class="m-0 bg-gray-100 text-gray-400 hover:text-gray-900 hover:bg-gray-100 h-full w-7 cursor-pointer" (click)="increase()">
        <span class="m-auto text-md">+</span>
      </button>
    </div>
  </div>
  <div class=" relative -top-3">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
