.styled-number-input input[type='number']::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.styled-number-input input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.styled-number-input input:focus {
  outline: none !important;
}

.styled-number-input button:focus {
  outline: none !important;
}
