<div class="my-4">
  <fc-lib-label [status]="status" [touched]="touched">
    <ng-content select="[label]"></ng-content>
  </fc-lib-label>
  <select class="block w-full mt-1 rounded-md bg-gray-100 border-transparent border-gray-200 focus:bg-white focus:ring-0 "
    [ngClass]="{'placeholder-red': status === 'INVALID' && touched, 'text-red': status === 'INVALID' && touched, 'text-gray-400 focus:text-gray-900': !value }"
    (change)="callOnChange($event)" (keyup)="keyUp.emit($event)" (blur)="onTouchedFN()" [disabled]="disabled">
    <option [value]=""><span>-- {{placeholder}}</span></option>

    <ng-content></ng-content>
  </select>
  <div class=" relative">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
