
<!-- <div class=" bg-slate-300 p-5">
  <fc-lib-accordion [multi]="false" #accordion>
    <fc-lib-expansion-panel #panel1>
      <div title>Header</div>
      <div discription>Discription</div>
      <div content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
        eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit
        amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
        eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit
        amet.
      </div>
      <div footer>
        <button class=" bg-blue-200 p-2 rounded-lg" (click)="accordion.openNext(panel1.tabindex)">Next</button>
      </div>
    </fc-lib-expansion-panel>
    <fc-lib-expansion-panel #panel2>
      <div title>Header Longer</div>
      <div discription>Discription</div>
      <div content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
        eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit
        amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
        eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit
        amet.

      </div>
      <div footer>
        <button class=" bg-red-300 p-2 rounded-lg" (click)="accordion.openLast(panel2.tabindex)">Back</button>
        <button class=" bg-blue-200 p-2 rounded-lg" (click)="accordion.openNext(panel2.tabindex)">Next</button>
      </div>
    </fc-lib-expansion-panel>
    <fc-lib-expansion-panel #panel3>
      <div title>Header Longer</div>
      <div discription>Discription Longer</div>
      <div content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
        eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit
        amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
        eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit
        amet.
      </div>
      <div footer>
        <button class=" bg-red-300 p-2 rounded-lg" (click)="accordion.openLast(panel3.tabindex)">Back</button>
      </div>
    </fc-lib-expansion-panel>
  </fc-lib-accordion>
  <div class="h-5"></div>
  <button class=" bg-red-300 p-2 rounded-lg" (click)="accordion.openLast()">Back</button>
  &nbsp;
  <button class=" bg-blue-200 p-2 rounded-lg" (click)="accordion.openNext()">Next</button>

</div>



<fc-lib-dialog [size]="'md'" [show]="true">
  <ng-container title> Krasser Titel</ng-container>
  <ng-container content>
    <p>
      With less than a month to go before the European Union enacts new consumer privacy laws for its citizens,
      companies around the world are updating their terms of service agreements to comply.
    </p>
    <p>
      The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to
      ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as
      possible of high-risk data breaches that could personally affect them.
    </p>
  </ng-container>
  <ng-container footer>
    <button data-modal-toggle="defaultModal" type="button"
      class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
    <button data-modal-toggle="defaultModal" type="button"
      class="text-white bg-blue-600 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-200 dark:hover:bg-blue-600 dark:focus:ring-blue-900">I
      accept</button>
  </ng-container>
</fc-lib-dialog> -->
<router-outlet></router-outlet>
