<div class="bg-gray-100 rounded-xl pt-5">
  <div class="table w-full even:bg-gray-100 rounded-t-xl">
    <div class="table-header-group  text-left">
      <div class="table-row text-lg font-bold">
        <ng-container *ngFor="let column of columns" >
          <div *ngIf="column.sortable; else notSortable" class="table-cell px-5 cursor-pointer"
            [ngClass]="{'text-blue-600': sort === column.sort}" (click)="setSort(column.sort, column.sortable)">
            <button class="text-lg font-bold">
              {{column.name}}
            </button>
            <span>
              <fc-lib-icon *ngIf="this.direction === 'desc' && this.sort === column.sort" icon="sort-desc" size="h-4 w-4"></fc-lib-icon>
              <fc-lib-icon *ngIf="this.direction === 'asc' || this.sort !== column.sort" icon="sort-asc" size="h-4 w-4"></fc-lib-icon>
            </span>
          </div>
          <ng-template #notSortable>
            <div class="table-cell px-5 cursor-pointer">
              <span>
                {{column.name}}
              </span>
            </div>
          </ng-template>
        </ng-container>
        <div class="table-cell px-5">
          <span>
            {{actionsString}}
          </span>
        </div>
      </div>
    </div>
    <div class="table-row-group">
      <ng-content select="[content]">
      </ng-content>
    </div>
  </div>
  <div  class="flex center p-5" (click)="loadMore.emit()">
    <fc-lib-button *ngIf="!endOfResults" color="basic" class=" m-auto">Load More</fc-lib-button>
    <fc-lib-button *ngIf="endOfResults" color="basic" class=" m-auto" [disabled]="true">End of Results</fc-lib-button>
  </div>
</div>
