<div class="relative transition-all duration-500 ease-in-out mb-5">
  <div class="mt-0" [ngClass]="{'overflow-hidden': true}"
    [ngStyle]="{'height': showMore ? 'auto' : limit + 'px', 'min-height.px': limit}">
    <ng-content></ng-content>
    <div class="w-full h-36 absolute bottom-0 border-b border-gray-200 pt-5" [ngClass]="{'fade-out': !showMore}">
      <button *ngIf="!showMore" (click)="showMore = !showMore"
        i18n="button show more | show more button @@ in generic show more section component"
        class=" mx-auto absolute rounded border-2 -bottom-4 bg-white hover:bg-gray-100 border-gray-400 p-1 px-5 text-sm"
        style="transform: translateX(-50%);left: 50%;white-space: nowrap;">
        Mehr anzeigen
      </button>
      <button *ngIf="showMore" (click)="showMore = !showMore"
        i18n="button show less | show less button @@ in generic show less section component"
        class=" mx-auto absolute rounded border-2 -bottom-4 bg-white hover:bg-gray-100 border-gray-400 p-1 px-5 text-sm"
        style="transform: translateX(-50%);left: 50%;white-space: nowrap;">
        Weniger anzeigen
      </button>
    </div>
  </div>
</div>
