<div class="mt-4">
  <fc-lib-label [status]="status" [touched]="touched">
    <ng-content select="[label]"></ng-content>
  </fc-lib-label>
  <input
    type="date"
    class="
      mt-1
      block
      w-full
      rounded-md
      bg-gray-100
      border-transparent border-gray-200
      focus:bg-white
      focus:ring-0
    "
    [ngClass]="{
      'text-red': status === 'INVALID' && touched,
      'bg-gray-300 text-gray-500': disabled
    }"
    min="{{ min }}"
    max="{{ max }}"
    [value]=" value "
    [disabled]="disabled"
    (keyup)="onKeyUp($event)"
    (change)="callOnChange($event)"
    (blur)="onTouchedFN()"
  />
  <div class=" relative">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
