.styled-checkbox input[type=checkbox]:checked+label:after {
  left: 2.25rem;
  background-color:white;
}

.styled-checkbox input[type=checkbox]:checked+label:before {
  background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}
