<!-- This component uses some custom classes in its css file -->
<div class="styled-checkbox relative px-5 left-align">
  <input [id]="randomId" type="checkbox" [value]="value" class=" left-screen hidden absolute bg-gray-100
  focus:bg-gray-200 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500 focus:border-transparent"
    (change)="callOnChange($event)" (blur)="onTouchedFN()">
  <label for="{{randomId}}" class="before:absolute before:top-0 pl-9 cursor-pointer
    before:left-0 before:w-10 before:h-6 before:ml-4 before:rounded-xl before:bg-gray-100 before:border-gray-200 before:border
    after:left-5 after:w-4 after:h-4 after:absolute after:top-1 after:bg-gray-500 after:rounded-lg
    after:transition-all after:duration-200 after:rotate-180 before:z-10 after:z-10">
    <fc-lib-label [status]="status" [touched]="touched">
      <ng-content select="[label]"></ng-content>
    </fc-lib-label>
  </label>
  <div class=" -ml-2 relative">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
