<div class="w-full h-full flex" [ngClass]="{'text-black': color === 'black','text-white': color === 'white', 'text-slate-500': color === 'slate', 'text-gray-500': color === 'gray'}">
  <div class=" align-middle m-auto">
    <div class=" text-center align-middle">
      <svg fill='none' class="w-10 h-10 animate-spin inline" viewBox="0 0 32 32" xmlns='http://www.w3.org/2000/svg'>
        <path clip-rule='evenodd'
          d='M15.165 8.53a.5.5 0 01-.404.58A7 7 0 1023 16a.5.5 0 011 0 8 8 0 11-9.416-7.874.5.5 0 01.58.404z'
          fill='currentColor' fill-rule='evenodd' />
      </svg>
      <div *ngIf="showText">Loading...</div>
    </div>
  </div>
</div>
