<!-- Alkoven -->
<ng-container *ngIf="id === 0">
  <!-- solid -->
  <svg *ngIf="iconFormat === ''" version="1.1" class="{{classString}}" fill="currentColor" id="alkoven" xml:space="preserve" viewBox="0 0 2437.8 1130.0787" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs221">
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath231">
      <path d="M 0,847.559 H 1828.347 V 0 H 0 Z" id="path229" />
    </clipPath>
  </defs>
  <g id="g223" transform="matrix(1.3333333,0,0,-1.3333333,0,1130.0787)">
    <g id="g225">
      <g id="g227" clip-path="url(#clipPath231)">
        <path d="m 1823.116,278.433 c -9.411,34.571 -27.585,79.547 -58.218,100.975 -30.649,21.427 -82.739,33.658 -82.739,33.658 L 1479.927,618.07 h -88.853 v 27.547 h 174.656 c 0,0 39.826,12.207 39.826,36.71 0,24.479 -15.321,39.763 -27.57,52.01 -12.256,12.271 -86.608,113.223 -161.273,113.223 H 1038.708 L 867.117,798.602 H 44.039 c 0,0 -22.582,3.06 -22.582,-36.719 V 351.861 L 0,324.33 V 125.447 c 0,0 3.064,0 24.513,-12.239 21.457,-12.232 36.77,-15.292 36.77,-15.292 h 335.131 c 0,0 14.671,-97.916 116.413,-97.916 96.348,0 110.309,91.797 110.309,91.797 h 857.931 c 0,0 14.118,-91.797 113.366,-91.797 98.865,0 113.373,91.797 113.373,91.797 0,0 44.023,5.182 62.783,6.923 58.765,5.457 55.584,17.547 55.584,17.547 0,0 6.535,126.876 -3.057,162.166 M 86.538,397.222 c 0,11.824 8.771,21.394 19.573,21.394 h 149.04 c 10.795,0 19.565,-9.57 19.565,-21.394 V 168.769 c 0,-11.826 -8.77,-21.411 -19.565,-21.411 h -149.04 c -10.802,0 -19.573,9.585 -19.573,21.411 z M 288.02,550.76 H 76.603 V 697.634 H 288.02 Z M 459.291,122.371 c 0,30.412 24.692,55.078 55.154,55.078 30.47,0 55.155,-24.666 55.155,-55.078 0,-30.411 -24.685,-55.077 -55.155,-55.077 -30.462,0 -55.154,24.666 -55.154,55.077 M 716.982,431.418 H 428.961 v 180.54 H 716.982 Z M 1017.063,167.7 c 0,-11.74 -9.528,-21.24 -21.276,-21.24 H 846.895 c -11.756,0 -21.269,9.5 -21.269,21.24 v 424.829 c 0,11.725 9.513,21.24 21.269,21.24 h 148.892 c 11.748,0 21.276,-9.515 21.276,-21.24 z m 208.556,630.902 h 186.904 V 706.806 H 1225.619 Z M 1588,394.762 h -104.415 c 0,0 -79.433,0 -87.766,0.639 -8.309,0.65 -19.854,16.627 -19.854,16.627 0,0 -55.725,110.031 -57.015,138.819 -1.282,28.795 23.068,34.548 23.068,34.548 h 83.911 c 25.615,0 41.96,-16.306 41.96,-16.306 0,0 82.965,-84.771 128.443,-128.273 45.485,-43.494 -8.332,-46.054 -8.332,-46.054 m 66.277,-272.391 c 0,-30.411 -24.693,-55.077 -55.162,-55.077 -30.462,0 -55.154,24.666 -55.154,55.077 0,30.412 24.692,55.078 55.154,55.078 30.469,0 55.162,-24.666 55.162,-55.078 m -647.852,55.952 v 403.598 c 0,11.725 -9.521,21.24 -21.269,21.24 H 857.534 c -11.741,0 -21.269,-9.515 -21.269,-21.24 V 178.323 c 0,-11.723 9.528,-21.231 21.269,-21.231 h 127.622 c 11.748,0 21.269,9.508 21.269,21.231 m -32.994,250.043 h -104.18 v 149.925 h 104.18 z M 95.551,390.328 V 175.662 c 0,-11.123 7.918,-20.124 17.673,-20.124 h 134.783 c 9.77,0 17.697,9.001 17.697,20.124 v 214.666 c 0,11.108 -7.927,20.109 -17.697,20.109 H 113.224 c -9.755,0 -17.673,-9.001 -17.673,-20.109 m 9.27,-174.24 h 13.257 v -26.461 h -13.257 z m 0,161.704 h 13.257 v -26.461 h -13.257 z m 402.402,432.799 h 213.363 v 35.29 H 507.223 Z m -379.093,0 h 213.348 v 35.29 H 128.13 Z"
          id="path233" />
      </g>
    </g>
  </g>
  </svg>
  <!-- thin -->
  <svg *ngIf="iconFormat === 'thin'" class="{{classString}}" id="alkoven" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g fill="none" clip-path=" url(#clip-path)">
      <g stroke-miterlimit="10" stroke="currentColor" style="stroke-width:0.8px">
        <path d="M24.81,72.65H8v-.76H6.54V39.18H50.77l6.6-3.46H76.29l7.79,7.46v2L82,46.37H73.59v1.24h4.32l9.74,9.73h1.29a11.48,11.48,0,0,1,5.8,6.48l.09.23a3.09,3.09,0,0,1,.17,1v4.63a3,3,0,0,1-3,3H89.2"></path>
        <polygon points="4.54 60.43 3 61.31 3 71.22 4.54 71.22 4.54 60.43"></polygon>
        <line x1="78.09" y1="72.65" x2="35.92" y2="72.65"></line>
        <rect x="9.44" y="57" width="9.21" height="12.88" rx="1.42"></rect>
        <rect x="11.34" y="35.73" width="10.68" height="1.69"></rect>
        <rect x="30.02" y="35.73" width="10.68" height="1.69"></rect>
        <circle cx="30.37" cy="71.23" r="5.75"></circle>
        <circle cx="30.37" cy="71.23" r="2.73"></circle>
        <circle cx="83.64" cy="71.23" r="5.75"></circle>
        <circle cx="83.64" cy="71.23" r="2.73"></circle>
      </g>
      <g stroke-linecap="round" stroke-linejoin="round">
        <line x1="11.79" y1="59.45" x2="11.79" y2="60.83"></line>
        <line x1="11.79" y1="66.04" x2="11.79" y2="67.42"></line>
        <rect x="46.04" y="48.13" width="8.86" height="21.68" rx="1.12"></rect>
      </g>
      <g fill="currentColor">
        <path d="M39.57,48.93v6.4H27.05v-6.4H39.57m.8-.8H26.25v8H40.37v-8Z M52.15,50.54V56H48.79V50.54h3.36m.8-.8H48v7h5v-7Z M73.74,39.81v2.62H66V39.81h7.7m.8-.8h-9.3v4.22h9.3V39Z M75.64,49.89a1.66,1.66,0,0,1,1.13.46l7.19,7H75a1.6,1.6,0,0,1-1.42-.85L70.68,51a.72.72,0,0,1,0-.71.73.73,0,0,1,.62-.35h4.32m0-.8H71.32A1.52,1.52,0,0,0,70,51.32l2.92,5.53A2.41,2.41,0,0,0,75,58.13H84a.78.78,0,0,0,.55-1.34l-7.18-7a2.43,2.43,0,0,0-1.69-.69Z M18.45,44.65v5.58H9.56V44.65h8.89m.8-.8H8.76V51H19.25V43.85Z"></path>
      </g>
    </g>
  </svg>
  <!-- bold -->
  <svg *ngIf="iconFormat === 'bold'" class="{{classString}}" id="alkoven" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g fill="none" clip-path=" url(#clip-path)">
      <g stroke-miterlimit="10" stroke= "currentColor" style="stroke-width:2px">
        <path d="M24.81,72.65H8v-.76H6.54V39.18H50.77l6.6-3.46H76.29l7.79,7.46v2L82,46.37H73.59v1.24h4.32l9.74,9.73h1.29a11.48,11.48,0,0,1,5.8,6.48l.09.23a3.09,3.09,0,0,1,.17,1v4.63a3,3,0,0,1-3,3H89.2"></path>
        <polygon points="4.54 60.43 3 61.31 3 71.22 4.54 71.22 4.54 60.43"></polygon>
        <line x1="78.09" y1="72.65" x2="35.92" y2="72.65"></line>
        <rect x="9.44" y="57" width="9.21" height="12.88" rx="1.42"></rect>
        <rect x="11.34" y="35.73" width="10.68" height="1.69"></rect>
        <rect x="30.02" y="35.73" width="10.68" height="1.69"></rect>
        <circle cx="30.37" cy="71.23" r="5.75"></circle>
        <circle cx="30.37" cy="71.23" r="2.73"></circle>
        <circle cx="83.64" cy="71.23" r="5.75"></circle>
        <circle cx="83.64" cy="71.23" r="2.73"></circle>
      </g>
      <g stroke-linecap="round" stroke-linejoin="round">
        <line x1="11.79" y1="59.45" x2="11.79" y2="60.83"></line>
        <line x1="11.79" y1="66.04" x2="11.79" y2="67.42"></line>
        <rect x="46.04" y="48.13" width="8.86" height="21.68" rx="1.12"></rect>
      </g>
      <g fill="currentColor">
        <path d="M38.37,50.13v4H28.25v-4H38.37m2-2H26.25v8H40.37v-8Z M51,51.74v3H50v-3h1m2-2H48v7h5v-7Z M17.25,45.85V49H10.76V45.85h6.49m2-2H8.76V51H19.25V43.85Z M38.37,50.13v4H28.25v-4H38.37m2-2H26.25v8H40.37v-8Z M72.54,41v.22h-5.3V41h5.3m2-2h-9.3v4.22h9.3V39Z M75.64,51.09a.45.45,0,0,1,.29.12l5,4.92H75a.4.4,0,0,1-.36-.22l-2.55-4.82h3.52m0-2H71.32A1.52,1.52,0,0,0,70,51.32l2.92,5.53A2.41,2.41,0,0,0,75,58.13H84a.78.78,0,0,0,.55-1.34l-7.18-7a2.43,2.43,0,0,0-1.69-.69Z"></path>
      </g>
    </g>
  </svg>
</ng-container>

<!-- partially-integrated -->
<ng-container *ngIf="id === 1">
  <!-- solid -->
  <svg *ngIf="iconFormat === ''" version="1.1" class="{{classString}}" id="partially-integrated" xml:space="preserve" fill="currentColor"
  viewBox="0 0 2437.8 1080.9453" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs398">
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath408">
      <path d="M 0,810.709 H 1828.347 V 0 H 0 Z" id="path406" />
    </clipPath>
  </defs>
  <g id="g400" transform="matrix(1.3333333,0,0,-1.3333333,0,1080.9453)">
    <g id="g402">
      <g id="g404" clip-path="url(#clipPath408)">
        <path
          d="m 1831.182,105.753 v 148.344 c 0,0 0,36.308 -22.119,59.978 -22.114,23.664 -104.265,64.701 -104.265,64.701 0,0 -60.047,64.715 -82.159,85.226 -22.127,20.503 -89.65,77.487 -89.65,77.487 0,0 -14.621,9.331 -14.621,20.363 0,11.04 23.689,20.518 23.689,41.029 0,20.511 -50.55,63.132 -126.407,96.266 -75.832,33.134 -162.724,41.038 -248.055,41.038 -85.308,0 -300.192,-39.47 -328.63,-48.934 -28.446,-9.479 -49.269,-18.926 -49.269,-18.926 H 63.195 c 0,0 -47.386,0.592 -47.386,-29.389 V 314.075 H 0 V 108.929 c 0,0 3.499,-30.022 51.846,-30.022 H 410.18 c 0,0 28.165,-78.907 102.733,-78.907 74.551,0 113.745,78.907 113.745,78.907 h 885.843 c 0,0 31.837,-78.907 106.396,-78.907 74.544,0 96.368,78.907 96.368,78.907 h 72.973 c 0,0 42.944,3.239 42.944,26.846 M 563.221,416.193 H 231.997 v 128.213 h 331.224 z m 7.099,-315.534 c 0,-30.395 -24.658,-55.041 -55.088,-55.041 -30.438,0 -55.111,24.646 -55.111,55.041 0,30.404 24.673,55.033 55.111,55.033 30.43,0 55.088,-24.629 55.088,-55.033 m 461.222,40.803 c 0,-11.733 -9.513,-21.229 -21.253,-21.229 H 861.514 c -11.746,0 -21.268,9.496 -21.268,21.229 v 424.61 c 0,11.719 9.522,21.229 21.268,21.229 h 148.775 c 11.74,0 21.253,-9.51 21.253,-21.229 z m 231.295,274.731 h -186.61 v 128.213 h 186.61 z m 350.397,-65.183 h -104.333 c 0,0 -79.371,0 -87.681,0.647 -8.325,0.64 -19.863,16.633 -19.863,16.633 0,0 -55.681,109.974 -56.97,138.746 -1.273,28.758 23.056,34.523 23.056,34.523 h 83.855 c 25.596,0 41.912,-16.297 41.912,-16.297 0,0 82.909,-84.728 128.358,-128.199 45.442,-43.495 -8.334,-46.053 -8.334,-46.053 m 55.917,-250.351 c 0,-30.395 -24.666,-55.041 -55.112,-55.041 -30.422,0 -55.096,24.646 -55.096,55.041 0,30.404 24.674,55.033 55.096,55.033 30.446,0 55.112,-24.629 55.112,-55.033 M 1020.92,152.08 v 403.39 c 0,11.718 -9.522,21.229 -21.244,21.229 H 872.145 c -11.74,0 -21.269,-9.511 -21.269,-21.229 V 152.08 c 0,-11.718 9.529,-21.228 21.269,-21.228 h 127.531 c 11.722,0 21.244,9.51 21.244,21.228 m -39.873,153.905 h -53.362 v 77.589 l -42.098,42.059 v 110.293 h 95.444 z M 98.538,686.906 h 359.544 v 67.111 H 98.538 Z"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" id="path410" />
      </g>
    </g>
  </g>
</svg>
  <!-- thin -->
  <svg *ngIf="iconFormat === 'thin'" class="{{classString}}" id="partially-integrated" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path=" url(#clip-path)">
      <g fill="none" stroke-width= "0.8px" stroke-miterlimit="10" stroke="currentColor">
        <circle cx="30.31" cy="70.44" r="5.58"></circle>
        <circle cx="30.31" cy="70.44" r="2.65"></circle>
        <circle cx="83.99" cy="70.44" r="5.58"></circle>
        <circle cx="83.99" cy="70.44" r="2.65"></circle>
        <line x1="78.6" y1="71.87" x2="35.71" y2="71.87"></line>
        <rect x="46.41" y="47.55" width="8.9" height="22.18" rx="1.2"></rect>
        <path d="M24.92,71.87h-19L5,70.44V61.11l1-.56v-17H43.79C50,41.2,58.47,40.33,66.4,40.33S80.21,46,80.21,46v1.76c-.73,0-1.07,1-1.07,1l9.32,9c4,1.29,5.69,3.5,6.27,4.53a2.1,2.1,0,0,1,.27,1v6.34a2.12,2.12,0,0,1-2.13,2.12H89.39"></path>
      </g>
      <g fill="currentColor">
        <path d="M31.83,50.4v4.65H16.91V50.4H31.83m.8-.8H16.11v6.25H32.63V49.6Z M66.14,50.4V55H58.27V50.4h7.87m.8-.8H57.47v6.19h9.47V49.6Z M76.71,50.4a1.5,1.5,0,0,1,1.06.44l6.62,6.8a.35.35,0,0,1,.08.38.36.36,0,0,1-.33.21l-8.82-.12A1.5,1.5,0,0,1,74,57.26L71.53,52a1.08,1.08,0,0,1,1-1.56h4.19m0-.8H72.52a1.89,1.89,0,0,0-1.72,2.69l2.48,5.31a2.27,2.27,0,0,0,2,1.31l8.82.12h0a1.15,1.15,0,0,0,.82-2l-6.63-6.79a2.29,2.29,0,0,0-1.63-.69Z M52.45,51V60.4H51.14V56.8l-.24-.23L49,54.64,49,51h3.45m.8-.8h-5l0,4.76,2.17,2.16V61.2h2.91v-11Z"></path>
      </g>
    </g>
  </svg>
  <!-- bold -->
  <svg *ngIf="iconFormat === 'bold'" class="{{classString}}" id="partially-integrated" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path=" url(#clip-path)">
      <g fill="none" stroke-width= "2px" stroke-miterlimit="10" stroke="currentColor">
        <circle cx="30.31" cy="70.44" r="5.58"></circle>
        <circle cx="30.31" cy="70.44" r="2.65"></circle>
        <circle cx="83.99" cy="70.44" r="5.58"></circle>
        <circle cx="83.99" cy="70.44" r="2.65"></circle>
        <line x1="78.6" y1="71.87" x2="35.71" y2="71.87"></line>
        <rect x="46.41" y="47.55" width="8.9" height="22.18" rx="1.2"></rect>
        <path d="M24.92,71.87h-19L5,70.44V61.11l1-.56v-17H43.79C50,41.2,58.47,40.33,66.4,40.33S80.21,46,80.21,46v1.76c-.73,0-1.07,1-1.07,1l9.32,9c4,1.29,5.69,3.5,6.27,4.53a2.1,2.1,0,0,1,.27,1v6.34a2.12,2.12,0,0,1-2.13,2.12H89.39"></path>
      </g>
      <g fill="currentColor">
        <path d="M51.25,52.21v3l-1.07-1.07V52.21h1.06m2-2h-5l0,4.76,2.17,2.16V61.2h2.91v-11Z M30.63,51.6v2.25H18.11V51.6H30.63m2-2H16.11v6.25H32.63V49.6Z M64.94,51.6v2.19H59.47V51.6h5.47m2-2H57.47v6.19h9.47V49.6Z M76.71,51.6a.3.3,0,0,1,.2.08L82.1,57l-6.76-.09a.26.26,0,0,1-.25-.16L72.68,51.6h4m0-2H72.52a1.89,1.89,0,0,0-1.72,2.69l2.48,5.31a2.27,2.27,0,0,0,2,1.31l8.82.12h0a1.15,1.15,0,0,0,.82-2l-6.63-6.79a2.29,2.29,0,0,0-1.63-.69Z"></path>
      </g>
    </g>
  </svg>
</ng-container>

<!-- camping-bus -->
<ng-container *ngIf="id === 2">
  <!-- solid -->
  <svg *ngIf="iconFormat === ''" fill="currentColor" class="{{classString}}" version="1.1" id="camping-bus" xml:space="preserve"
  viewBox="0 0 1904.88 1315.276" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs280">
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath290">
      <path d="M 0,986.457 H 1428.661 V 0 H 0 Z" id="path288" />
    </clipPath>
  </defs>
  <g id="g282" transform="matrix(1.3333333,0,0,-1.3333333,0,1315.276)">
    <g id="g284">
      <g id="g286" clip-path="url(#clipPath290)">
        <path
          d="m 1405.396,245.526 c 0,0 -1.141,69.348 -1.141,86.216 0,16.868 -18.751,41.234 -74.067,74.026 -55.316,32.807 -177.198,141.513 -194.074,165.878 -16.876,24.366 -61.879,127.449 -106.881,127.449 H 187.308 c 0,0 -45.003,-5.623 -45.003,-48.731 V 215.538 c 0,0 -30.002,-20.615 -30.002,-61.85 0,-41.233 13.126,-63.724 24.377,-63.724 h 133.133 c 0,0 22.353,-89.964 112.506,-89.964 89.068,0 108.757,89.964 108.757,89.964 h 613.482 c 0,0 24.83,-89.964 108.435,-89.964 92.99,0 114.382,89.964 114.382,89.964 0,0 99.381,22.491 99.381,33.736 0,11.246 11.352,73.932 -21.36,121.826 M 328.191,115.548 c 0,30.426 24.681,55.102 55.121,55.102 30.454,0 55.143,-24.676 55.143,-55.102 0,-30.426 -24.689,-55.104 -55.143,-55.104 -30.44,0 -55.121,24.678 -55.121,55.104 M 540.586,398.646 H 223.912 v 155.023 h 316.674 z m 370.233,0 H 594.144 v 155.023 h 316.675 z m 297.862,0 h -97.616 c 0,0 -127.538,0.515 -135.336,0.515 -15.375,0 -18.571,13.322 -18.571,13.322 0,0 -0.031,87.418 -0.031,111.26 0,23.101 21.563,27.685 21.563,27.685 h 78.466 c 23.931,0 39.214,-13.058 39.214,-13.058 0,0 77.567,-67.941 120.092,-102.809 42.526,-34.862 -7.781,-36.915 -7.781,-36.915 m 62.027,-283.098 c 0,-30.426 -24.666,-55.104 -55.121,-55.104 -30.454,0 -55.128,24.678 -55.128,55.104 0,30.426 24.674,55.102 55.128,55.102 30.455,0 55.121,-24.676 55.121,-55.102 M 326.183,710.239 H 901.054 L 859.91,930.612 326.199,777.642 Z m 146.376,30.152 0.015,52.128 c 0,0 154.931,47.192 188.621,55.61 33.683,8.419 48.839,-6.731 48.839,-6.731 L 747.067,740.391 Z M 295.517,776.486 884.318,945.551 872.333,986.457 284.165,814.526 Z m -165.431,-548.85 0.016,320.879 H 30.619 C 30.619,548.515 0,496.27 0,453.951 V 227.636 Z"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" id="path292" />
        </g>
      </g>
    </g>
  </svg>
  <!-- thin -->
  <svg *ngIf="iconFormat === 'thin'" class="{{classString}}" id="camping-bus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g fill="none" clip-path=" url(#clip-path)">
      <g stroke-miterlimit="10" stroke-width="0.8px" stroke="currentColor">
        <circle cx="29.45" cy="74.66" r="6.5"></circle>
        <circle cx="29.45" cy="74.66" r="3.09"></circle>
        <circle cx="81.54" cy="74.66" r="6.5"></circle>
        <circle cx="81.54" cy="74.66" r="3.09"></circle>
      </g>
      <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.8px" stroke="currentColor">
        <path d="M23.09,76H14.94a2.46,2.46,0,0,1-2-1.07l-.6-.86a2.15,2.15,0,0,1-.38-1.23V71a2.2,2.2,0,0,1,.53-1.43l1-1.12a2.49,2.49,0,0,0,.61-1.63v-28a2.52,2.52,0,0,1,2.52-2.52H69.25a3.14,3.14,0,0,1,2.62,1.41l3.84,5.85,9.7,9.64,4.87,3a6.57,6.57,0,0,1,1.62,1.4A6.71,6.71,0,0,1,93.48,62v4.1l.6.6v1.47l.92.93V72a2.07,2.07,0,0,1-1.43,2l-5.63,1.82h0"></path>
        <line x1="75.18" y1="76.01" x2="35.81" y2="76.01"></line>
        <line x1="23.63" y1="27.1" x2="60.85" y2="15.84"></line>
        <polygon points="25.62 33.33 61.79 33.33 58.92 19.33 25.62 29.41 25.62 33.33"></polygon>
      </g>
      <g fill="currentColor">
        <path d="M48,25.07h0a1.52,1.52,0,0,1,1.42,1l1.62,4.32a.32.32,0,0,1,0,.32.33.33,0,0,1-.28.15H36a.35.35,0,0,1-.35-.34V29.11a.34.34,0,0,1,.25-.33l11.66-3.64a1.41,1.41,0,0,1,.45-.07m0-.8a2.35,2.35,0,0,0-.69.1L35.67,28a1.16,1.16,0,0,0-.81,1.1V30.5A1.15,1.15,0,0,0,36,31.64H50.74a1.15,1.15,0,0,0,1.07-1.55l-1.62-4.32A2.33,2.33,0,0,0,48,24.27Z M7.42,46.48l4.6.16V66.17H5.8V50.45l1.62-4m-.53-.82L5,50.3V67h7.82V45.87l-5.93-.21Z M38.27,46.46v8.65H19.67V46.46h18.6m.8-.8H18.87V55.91h20.2V45.66Z M61.6,46.46v8.65H43V46.46H61.6m.8-.8H42.2V55.91H62.4V45.66Z M72.59,46.46a.93.93,0,0,1,.63.25l8.44,8a.2.2,0,0,1,0,.23.2.2,0,0,1-.2.13H67.25a.92.92,0,0,1-.92-.91V47.31a.85.85,0,0,1,.85-.85h5.41m0-.8H67.18a1.65,1.65,0,0,0-1.65,1.65V54.2a1.71,1.71,0,0,0,1.72,1.71H81.51a1,1,0,0,0,.7-1.73l-8.44-8a1.72,1.72,0,0,0-1.18-.47Z"></path>
      </g>
    </g>
  </svg>
  <!-- bold -->
  <svg *ngIf="iconFormat === 'bold'" class="{{classString}}" id="camping-bus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path=" url(#clip-path)">
      <g fill="none" stroke-miterlimit="10" stroke-width="2px" stroke="currentColor">
        <circle cx="29.45" cy="74.66" r="6.5"></circle>
        <circle cx="29.45" cy="74.66" r="3.09"></circle>
        <circle cx="81.54" cy="74.66" r="6.5"></circle>
        <circle cx="81.54" cy="74.66" r="3.09"></circle>
      </g>
      <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px" stroke="currentColor">
        <path d="M23.09,76H14.94a2.46,2.46,0,0,1-2-1.07l-.6-.86a2.15,2.15,0,0,1-.38-1.23V71a2.2,2.2,0,0,1,.53-1.43l1-1.12a2.49,2.49,0,0,0,.61-1.63v-28a2.52,2.52,0,0,1,2.52-2.52H69.25a3.14,3.14,0,0,1,2.62,1.41l3.84,5.85,9.7,9.64,4.87,3a6.57,6.57,0,0,1,1.62,1.4A6.71,6.71,0,0,1,93.48,62v4.1l.6.6v1.47l.92.93V72a2.07,2.07,0,0,1-1.43,2l-5.63,1.82h0"></path>
        <line x1="75.18" y1="76.01" x2="35.81" y2="76.01"></line>
        <line x1="23.63" y1="27.1" x2="60.85" y2="15.84"></line>
        <polygon points="25.62 33.33 61.79 33.33 58.92 19.33 25.62 29.41 25.62 33.33"></polygon>
      </g>
      <g fill="currentColor">
        <path d="M8.21,47.7l2.61.1V65H7V50.69l1.21-3m-1.32-2L5,50.3V67h7.82V45.87l-5.93-.21Z M37.07,47.66v6.25H20.87V47.66h16.2m2-2H18.87V55.91h20.2V45.66Z M60.4,47.66v6.25H44.2V47.66H60.4m2-2H42.2V55.91H62.4V45.66Z M72.47,47.66,79,53.91H67.53V47.66h4.94m.12-2H67.18a1.65,1.65,0,0,0-1.65,1.65V54.2a1.71,1.71,0,0,0,1.72,1.71H81.51a1,1,0,0,0,.7-1.73l-8.44-8a1.72,1.72,0,0,0-1.18-.47Z M48,26.27a.33.33,0,0,1,.3.2l1.18,3.17H37.16l10.77-3.36H48m0-2a2.35,2.35,0,0,0-.69.1L35.67,28a1.16,1.16,0,0,0-.81,1.1V30.5A1.15,1.15,0,0,0,36,31.64H50.74a1.15,1.15,0,0,0,1.07-1.55l-1.62-4.32A2.33,2.33,0,0,0,48,24.27Z">
    </path></g>
    </g>
  </svg>
</ng-container>

<!-- box-wagon -->
<ng-container *ngIf="id === 3">
  <!-- solid -->
  <svg *ngIf="iconFormat === ''" version="1.1" class="{{classString}}" fill="currentColor" id="box-wagon" xml:space="preserve"
  viewBox="0 0 2437.8 1080.9453" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs339">
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath349">
      <path d="M 0,810.709 H 1828.347 V 0 H 0 Z" id="path347" />
    </clipPath>
  </defs>
  <g id="g341" inkscape:groupmode="layer" inkscape:label="210720_Kastenwagen_2c_orange-500"
    transform="matrix(1.3333333,0,0,-1.3333333,0,1080.9453)">
    <g id="g343">
      <g id="g345" clip-path="url(#clipPath349)">
        <path
          d="m 1828.347,144.115 c 0,46.267 -14.21,120.987 -17.763,138.783 -3.56,17.797 -23.086,64.055 -44.423,78.286 -21.314,14.239 -71.063,26.703 -71.063,26.703 l -298.452,322.041 c 0,0 -48.335,52.193 -87.224,52.193 H 184.871 c 0,0 -47.274,-3.371 -47.274,-47.338 V 225.967 c 0,0 -16.504,-8.899 -16.504,-55.156 0,-46.251 -3.889,-87.537 37.139,-87.537 h 261.149 c 0,0 28.848,-83.274 110.747,-83.274 81.9,0 109.538,83.274 109.538,83.274 h 854.096 c 0,0 30.254,-83.274 107.007,-83.274 78.815,0 110.163,83.274 110.163,83.274 0,0 117.415,14.576 117.415,60.841 M 474.071,112.769 c 0,30.463 24.664,55.171 55.089,55.171 30.434,0 55.097,-24.708 55.097,-55.171 0,-30.464 -24.663,-55.165 -55.097,-55.165 -30.425,0 -55.089,24.701 -55.089,55.165 M 622.076,491.068 H 278.513 V 635.7 h 343.563 z m 0,-79.974 H 453.68 v 10.524 h 168.396 z m 0,-22.52 H 453.68 v 10.525 H 622.076 Z M 850.543,589.825 H 682.138 v 10.525 h 168.405 z m 0,-457.587 H 682.138 v 10.524 h 168.405 z m 405.554,21.277 c 0,-11.745 -9.501,-21.277 -21.243,-21.277 H 902.212 c -11.741,0 -21.243,9.532 -21.243,21.277 v 425.558 c 0,11.729 9.502,21.277 21.243,21.277 h 332.642 c 11.742,0 21.243,-9.548 21.243,-21.277 z m 335.569,237.843 h -104.283 c 0,0 -79.347,0 -87.669,0.586 -8.315,0.619 -19.822,15.264 -19.822,15.264 0,0 -55.684,100.984 -56.956,127.406 -1.273,26.413 23.032,31.691 23.032,31.691 h 83.82 c 25.585,0 41.917,-14.951 41.917,-14.951 0,0 82.845,-77.808 128.275,-117.725 45.432,-39.909 -8.314,-42.271 -8.314,-42.271 m 65.957,-278.589 c 0,-30.464 -24.656,-55.165 -55.09,-55.165 -30.432,0 -55.072,24.701 -55.072,55.165 0,30.463 24.64,55.171 55.072,55.171 30.434,0 55.09,-24.708 55.09,-55.171 m -412.137,51.387 v 404.291 c 0,11.744 -9.501,21.276 -21.243,21.276 H 912.838 c -11.741,0 -21.244,-9.532 -21.244,-21.276 V 164.156 c 0,-11.728 9.503,-21.268 21.244,-21.268 h 311.405 c 11.742,0 21.243,9.54 21.243,21.268 m -31.275,246.938 H 922.862 v 155.211 h 291.349 z m -264.67,361.27 h 238.086 v 38.345 H 949.541 Z m -647.091,0 h 238.094 v 38.345 H 302.45 Z M 125.988,230.643 126.003,556.585 H 32.9 C 32.9,556.585 0,449.854 0,406.871 V 230.643 Z"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" id="path351" />
       </g>
      </g>
    </g>
  </svg>
  <!-- thin -->
  <svg *ngIf="iconFormat === 'thin'" class="{{classString}}" id="box-wagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
      <g clip-path=" url(#clip-path)">
        <g fill="none" stroke-miterlimit="10" stroke-width="0.8px" stroke="currentColor">
          <circle cx="30.4" cy="69.74" r="5.24"></circle>
          <circle cx="30.4" cy="69.74" r="2.49"></circle>
          <circle cx="83.65" cy="69.74" r="5.24"></circle>
          <circle cx="83.65" cy="69.74" r="2.49"></circle>
          <line x1="78.61" y1="71.13" x2="35.44" y2="71.13"></line>
          <path d="M25.35,71.13H11.8l-.78-1v-5l.78-1.74V39.6a2.25,2.25,0,0,1,2.25-2.25h56.5L88.31,55.88a10.78,10.78,0,0,1,4.06,1.92c2.33,2.27,1.82,7,1.82,7l.81.44v2.36a2.51,2.51,0,0,1-.61,1.63,2.49,2.49,0,0,1-1.15.75l-3.8,1.18h-.75"></path>
          <rect x="19.86" y="34.95" width="11.53" height="1.77"></rect>
          <rect x="52.21" y="34.95" width="11.53" height="1.77"></rect>
        </g>
        <g fill="currentColor">
          <path d="M75.89,48a1,1,0,0,1,.7.28l7.1,6.65a.08.08,0,0,1,0,.1c0,.07-.07.07-.09.07H74.46a1,1,0,0,1-.93-.59L70.8,48.75a.56.56,0,0,1,0-.51.55.55,0,0,1,.45-.24h4.61m0-.8H71.28a1.32,1.32,0,0,0-1.2,1.89l2.73,5.76a1.82,1.82,0,0,0,1.65,1h9.17a.9.9,0,0,0,.61-1.56l-7.1-6.65a1.87,1.87,0,0,0-1.25-.49Z M35,44.27v5.65H19.34V44.27H35m.8-.8H18.54v7.25H35.8V43.47Z M63.92,48v5.65H51V48h12.9m.8-.8H50.22v7.25h14.5V47.2Z M10.22,48.56V62.82H5.8V53.94l1.37-5.38h3.05m.8-.8H6.55L5,53.84v9.78h6V47.76Z"></path>
        </g>
        <g fill="none" stroke-width="0.8px" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
          <rect x="48.49" y="45.5" width="17.97" height="22.87" rx="1.07"></rect>
          <line x1="38.57" y1="45.5" x2="43.97" y2="45.5"></line>
          <line x1="38.57" y1="68.37" x2="43.97" y2="68.37"></line>
          <line x1="26.4" y1="54.48" x2="34.8" y2="54.48"></line>
          <line x1="26.4" y1="57.63" x2="34.8" y2="57.63"></line>
        </g>
      </g>
  </svg>
  <!-- bold -->
  <svg *ngIf="iconFormat === 'bold'" class="{{classString}}" id="box-wagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
      <g clip-path=" url(#clip-path)">
        <g fill="none" stroke-miterlimit="10" stroke-width="2px" stroke="currentColor">
          <circle cx="30.4" cy="69.74" r="5.24"></circle>
          <circle cx="30.4" cy="69.74" r="2.49"></circle>
          <circle cx="83.65" cy="69.74" r="5.24"></circle>
          <circle cx="83.65" cy="69.74" r="2.49"></circle>
          <line x1="78.61" y1="71.13" x2="35.44" y2="71.13"></line>
          <path d="M25.35,71.13H11.8l-.78-1v-5l.78-1.74V39.6a2.25,2.25,0,0,1,2.25-2.25h56.5L88.31,55.88a10.78,10.78,0,0,1,4.06,1.92c2.33,2.27,1.82,7,1.82,7l.81.44v2.36a2.51,2.51,0,0,1-.61,1.63,2.49,2.49,0,0,1-1.15.75l-3.8,1.18h-.75"></path>
          <rect x="19.86" y="34.95" width="11.53" height="1.77"></rect>
          <rect x="52.21" y="34.95" width="11.53" height="1.77"></rect>
        </g>
        <g fill="currentColor">
          <path d="M75.82,49.2l5,4.7H74.57l-2.23-4.7h3.48m.07-2H71.28a1.32,1.32,0,0,0-1.2,1.89l2.73,5.76a1.82,1.82,0,0,0,1.65,1h9.17a.9.9,0,0,0,.61-1.56l-7.1-6.65a1.87,1.87,0,0,0-1.25-.49Z M33.8,45.47v3.25H20.54V45.47H33.8m2-2H18.54v7.25H35.8V43.47Z M62.72,49.2v3.25H52.22V49.2h10.5m2-2H50.22v7.25h14.5V47.2Z M9,49.76V61.62H7V54.09l1.11-4.33H9m2-2H6.55L5,53.84v9.78h6V47.76Z"></path>
        </g>
        <g fill="none" stroke-width="2px" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
          <rect x="48.49" y="45.5" width="17.97" height="22.87" rx="1.07"></rect>
          <line x1="38.57" y1="45.5" x2="43.97" y2="45.5"></line>
          <line x1="38.57" y1="68.37" x2="43.97" y2="68.37"></line>
          <line x1="26.4" y1="54.48" x2="34.8" y2="54.48"></line>
          <line x1="26.4" y1="57.63" x2="34.8" y2="57.63"></line>
        </g>
      </g>
  </svg>
</ng-container>


<!-- fully-integrated -->
<ng-container *ngIf="id === 4">
  <!-- solid -->
  <svg *ngIf="iconFormat === ''" version="1.1" class="{{classString}}" fill="currentColor" id="fully-integrated" xml:space="preserve"
  viewBox="0 0 2437.8 1039.3707" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs56">
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath66">
      <path d="M 0,779.528 H 1828.347 V 0 H 0 Z" id="path64" />
    </clipPath>
  </defs>
  <g id="g58" transform="matrix(1.3333333,0,0,-1.3333333,0,1039.3707)">
    <g id="g60">
      <g id="g62" clip-path="url(#clipPath66)">
        <path
          d="m 1828.348,198.429 c 0,35.403 -16.755,100.61 -40.953,136.014 -24.207,35.412 -239.737,291.478 -239.737,291.478 0,0 -37.522,35.178 -60.022,49.486 -36.009,22.906 -117.338,40.99 -149.161,40.99 H 68.693 c 0,0 -48.195,-3.729 -48.195,-50.305 V 425.738 H 0.002 v -268.3 c 0,0 -0.515,-26.104 15.896,-46.412 16.091,-19.909 30.436,-28.101 41.646,-28.117 12.825,-0.015 366.773,0 366.773,0 0,0 16.536,-82.909 104.249,-82.909 87.713,0 113.597,82.909 113.597,82.909 h 817.329 c 0,0 29.383,-82.909 111.71,-82.909 77.367,0 104.467,86.639 104.467,86.639 h 122.686 c 0,0 11.367,1.848 18.828,13.036 7.437,11.187 11.165,63.357 11.165,98.754 M 325.011,147.335 c 0,-10.665 -9.285,-19.293 -20.729,-19.293 H 146.388 c -11.444,0 -20.729,8.628 -20.729,19.293 v 205.847 c 0,10.666 9.285,19.278 20.729,19.278 h 157.894 c 11.444,0 20.729,-8.612 20.729,-19.278 z m 1189.225,-42.581 c 0,30.411 24.627,55.04 55.009,55.04 30.388,0 55.009,-24.629 55.009,-55.04 0,-30.403 -24.621,-55.049 -55.009,-55.049 -30.382,0 -55.009,24.646 -55.009,55.049 m -981.795,55.04 c 30.389,0 55.009,-24.629 55.009,-55.04 0,-30.403 -24.62,-55.049 -55.009,-55.049 -30.381,0 -55.009,24.646 -55.009,55.049 0,30.411 24.628,55.04 55.009,55.04 M 776.114,408.707 H 570.688 V 542.35 h 205.426 z m 288.859,-258.68 c 0,-11.718 -9.488,-21.228 -21.213,-21.228 H 895.261 c -11.717,0 -21.204,9.51 -21.204,21.228 v 424.606 c 0,11.718 9.487,21.228 21.204,21.228 h 148.499 c 11.725,0 21.213,-9.51 21.213,-21.228 z m 368.169,447.122 c 0,0 126.342,-221.13 116.854,-221.576 l -341.381,35.575 v 186.001 z m 261.393,-237.178 -82.325,8.745 -139.159,228.433 h 66.109 c 0,0 151.633,-189.746 162.86,-212.213 11.226,-22.469 -7.485,-24.965 -7.485,-24.965 M 1054.379,160.646 V 564.03 c 0,11.719 -9.504,21.229 -21.23,21.229 h -127.27 c -11.725,0 -21.229,-9.51 -21.229,-21.229 V 160.646 c 0,-11.719 9.504,-21.23 21.229,-21.23 h 127.27 c 11.726,0 21.23,9.511 21.23,21.23 m -42.434,248.646 h -84.86 v 134.875 h 84.86 z M 315.477,153.553 v 193.411 c 0,10.003 -8.396,18.124 -18.749,18.124 H 153.943 c -10.354,0 -18.742,-8.121 -18.742,-18.124 V 153.553 c 0,-10.009 8.388,-18.138 18.742,-18.138 h 142.785 c 10.353,0 18.749,8.129 18.749,18.138 M 191.192,727.562 h 320.066 v 51.967 H 191.192 Z"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" id="path68" />
      </g>
    </g>
  </g>
</svg>
  <!-- thin -->
  <svg *ngIf="iconFormat === 'thin'" class="{{classString}}" id="fully-integrated" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path=" url(#clip-path)">
      <g fill="none" stroke-miterlimit="10" stroke-width="0.8px" stroke="currentColor">
        <circle cx="82.42" cy="68.88" r="4.91"></circle>
        <circle cx="82.42" cy="68.88" r="2.33"></circle>
        <circle cx="27.88" cy="68.88" r="4.91"></circle>
        <circle cx="27.88" cy="68.88" r="2.33"></circle>
        <line x1="77.58" y1="69.69" x2="32.73" y2="69.69"></line>
        <rect x="48.07" y="43.86" width="8.99" height="23.35" rx="1.56"></rect>
        <rect x="33.02" y="46.57" width="10.09" height="6.63"></rect>
        <polyline points="12.43 55.41 10.38 55.41 10.38 65.87 10.91 65.87 10.91 66.32 19.24 66.32 19.24 65.87 19.77 65.87 19.77 55.41 17.72 55.41"></polyline>
        <polygon points="78.51 55.05 61.38 53.2 61.38 43.86 72.63 43.86 78.51 55.05"></polygon>
        <path d="M75.67,43.86h2.84a.61.61,0,0,1,.48.24l7.8,10.42a.6.6,0,0,1-.48,1H82.75a.73.73,0,0,1-.63-.36L75.58,44A.1.1,0,0,1,75.67,43.86Z M23,69.69H8.75a3.29,3.29,0,0,1-2.81-1.58l-.46-.77A3.2,3.2,0,0,1,5,65.63v-13H6V40.58a2.77,2.77,0,0,1,2.77-2.77H70.24a15.28,15.28,0,0,1,11.84,5.63c3.67,4.5,8.4,10.31,9.69,11.84s2.6,5,3,6.29A3.55,3.55,0,0,1,95,62.69v3.45a3.47,3.47,0,0,1-.48,1.78,3.54,3.54,0,0,1-3.06,1.77h-4.2"></path>
      </g>
      <g fill="currentColor">
        <path d="M53.93,47V52.4H51.2V47h2.73m.8-.8H50.4v7h4.33v-7Z M29.14,35.21v1.11H15.28V35.21H29.14m.8-.8H14.48v2.71H29.94V34.41Z"></path>
      </g>
    </g>
  </svg>
  <!-- bold -->
  <svg *ngIf="iconFormat === 'bold'" class="{{classString}}" id="fully-integrated" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path=" url(#clip-path)">
      <g fill="none" stroke-miterlimit="10" stroke-width="2px" stroke="currentColor">
        <circle cx="82.42" cy="68.88" r="4.91"></circle>
        <circle cx="82.42" cy="68.88" r="2.33"></circle>
        <circle cx="27.88" cy="68.88" r="4.91"></circle>
        <circle cx="27.88" cy="68.88" r="2.33"></circle>
        <line x1="77.58" y1="69.69" x2="32.73" y2="69.69"></line>
        <rect x="48.07" y="43.86" width="8.99" height="23.35" rx="1.56"></rect>
        <rect x="33.02" y="46.57" width="10.09" height="6.63"></rect>
        <polyline points="12.43 55.41 10.38 55.41 10.38 65.87 10.91 65.87 10.91 66.32 19.24 66.32 19.24 65.87 19.77 65.87 19.77 55.41 17.72 55.41"></polyline>
        <polygon points="78.51 55.05 61.38 53.2 61.38 43.86 72.63 43.86 78.51 55.05"></polygon>
        <path d="M75.67,43.86h2.84a.61.61,0,0,1,.48.24l7.8,10.42a.6.6,0,0,1-.48,1H82.75a.73.73,0,0,1-.63-.36L75.58,44A.1.1,0,0,1,75.67,43.86Z M23,69.69H8.75a3.29,3.29,0,0,1-2.81-1.58l-.46-.77A3.2,3.2,0,0,1,5,65.63v-13H6V40.58a2.77,2.77,0,0,1,2.77-2.77H70.24a15.28,15.28,0,0,1,11.84,5.63c3.67,4.5,8.4,10.31,9.69,11.84s2.6,5,3,6.29A3.55,3.55,0,0,1,95,62.69v3.45a3.47,3.47,0,0,1-.48,1.78,3.54,3.54,0,0,1-3.06,1.77h-4.2"></path>
      </g>
      <g fill="currentColor">
        <path d="M52.73,48.22v3H52.4v-3h.33m2-2H50.4v7h4.33v-7Z"></path>
        <polygon points="29.94 34.41 14.47 34.41 14.47 37.12 29.94 37.12 29.94 34.41 29.94 34.41"></polygon>
      </g>
    </g>
  </svg>
</ng-container>


<!-- trailer -->
<ng-container *ngIf="id === 5">
  <!-- solid -->
  <svg *ngIf="iconFormat === ''" class="{{classString}}" version="1.1" id="trailer" fill="currentColor" xml:space="preserve"
  viewBox="0 0 2456.6934 876.85065" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs491">
    <clipPath clipPathUnits="userSpaceOnUse" id="clipPath501">
      <path d="M 0,657.638 H 1842.52 V 0 H 0 Z" id="path499" />
    </clipPath>
  </defs>
  <g id="g493" transform="matrix(1.3333333,0,0,-1.3333333,0,876.85067)">
    <g id="g495">
      <g id="g497" clip-path="url(#clipPath501)">
        <path
          d="m 1783.059,140.349 v -14.838 h -61.096 l 94.127,51.161 c 0,0 11.568,4.958 3.316,13.218 -8.275,8.252 -148.62,-64.379 -148.62,-64.379 h -132.109 v 153.544 c 0,0 0,64.41 -47.869,133.747 -47.901,69.353 -127.174,135.374 -173.385,161.803 -46.227,26.437 -121.033,42.455 -152.172,42.455 H 83.7 c 0,0 -29.464,-6.117 -47.626,-24.286 -18.155,-18.169 -24.78,-59.451 -24.78,-59.451 V 237.772 c 0,0 -13.437,-15.298 -10.997,-50.659 2.706,-39.201 18.593,-59.991 32.906,-68.25 31.71,-18.287 63.036,-19.914 102.395,-19.914 h 95.316 c 0,0 58.295,-7.555 96.277,-12.514 37.99,-4.951 357.555,-28.65 357.555,-28.65 0,0 24.943,-57.785 94.369,-57.785 73.204,0 83.967,57.785 83.967,57.785 l 829.167,21.47 V 28.071 h 39.28 c 0,0 7.095,-23.597 31.147,-23.597 18.084,0 32.585,15.588 32.585,33.64 0,15.58 -13.461,31.168 -33.274,31.168 -21.603,0 -30.09,-21.384 -30.09,-21.384 h -13.218 v 31.357 h 123.841 v 41.282 h -28.073 v 19.812 z M 341.02,344.255 H 97.318 V 486.801 H 341.02 Z M 586.075,146.301 c 0,-10.966 -8.643,-19.827 -19.273,-19.827 H 431.893 c -10.661,0 -19.289,8.861 -19.289,19.827 v 396.713 c 0,10.958 8.628,19.859 19.289,19.859 h 134.909 c 10.63,0 19.273,-8.901 19.273,-19.859 z m 139.321,-51.02 c 0,30.473 24.716,55.189 55.174,55.189 30.49,0 55.199,-24.716 55.199,-55.189 0,-30.472 -24.709,-55.18 -55.199,-55.18 -30.458,0 -55.174,24.708 -55.174,55.18 M 924.693,400.968 H 720.178 v 85.833 h 204.515 z m 398.816,-56.713 h -243.702 v 142.546 h 243.702 z M 576.423,156.219 v 376.893 c 0,10.942 -8.628,19.827 -19.241,19.827 H 441.529 c -10.645,0 -19.273,-8.885 -19.273,-19.827 V 156.219 c 0,-10.927 8.628,-19.828 19.273,-19.828 h 115.653 c 10.613,0 19.241,8.901 19.241,19.828 m -41.502,186.479 h -77.936 v 144.103 h 77.936 z m 339.377,287.135 h 167.354 v 27.805 H 874.298 Z m -633.357,0 h 167.354 v 27.805 H 240.941 Z"
          style="fill-opacity:1;fill-rule:nonzero;stroke:none" id="path503" />
      </g>
    </g>
  </g>
</svg>
  <!-- thin -->
  <svg *ngIf="iconFormat === 'thin'" class="{{classString}}" id="trailer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path="url(#clip-path)">
      <g fill="none" stroke-miterlimit="10" stroke-width="0.8px" stroke="currentColor">
        <circle cx="42.82" cy="67.01" r="4.17"></circle>
        <circle cx="42.82" cy="67.01" r="1.98"></circle>
        <rect x="16.94" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="47.53" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="16.94" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="47.53" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="25.43" y="43.76" width="7.89" height="21.26" rx="1.11"></rect>
        <circle cx="90.93" cy="69.56" r="1.7"></circle>
        <polyline points="89.23 69.56 88.09 69.56 88.09 67.42"></polyline>
        <polygon points="79.78 67.86 81.19 67.86 81.88 67.42 95 67.42 94.16 65.55 93.5 65.55 93.5 64.58 91.76 64.58 91.76 65.27 79.78 65.27 79.78 67.86"></polygon>
        <polygon points="86.06 65.27 92.93 62.01 93.19 62.35 88.92 65.27 86.06 65.27"></polygon>
        <path d="M38.9,68.42H34.59L18.45,66.68H8a3,3,0,0,1-3-3V61l.78-1.1V44.16a3.09,3.09,0,0,1,3.09-3.09H62.61c13.19,1.9,17.17,15,17.17,15V68.42h-33"></path>
      </g>
      <g fill="currentColor">
        <path d="M21.08,47.93v5.69H10.64V47.93H21.08m.8-.8h-12v7.29h12V47.13Z M49.19,47.93v2.8H41v-2.8h8.17m.8-.8H40.22v4.4H50v-4.4Z M68.93,47.93v5.69H58.49V47.93H68.93m.8-.8h-12v7.29h12V47.13Z M30.54,47.93v5.69H28.2V47.93h2.34m.8-.8H27.4v7.29h3.94V47.13Z"></path>
      </g>
    </g>
  </svg>
  <!-- bold -->
  <svg *ngIf="iconFormat === 'bold'" class="{{classString}}" id="trailer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
    <g clip-path="url(#clip-path)">
      <g fill="none" stroke-miterlimit="10" stroke-width="2px" stroke="currentColor">
        <circle cx="42.82" cy="67.01" r="4.17"></circle>
        <circle cx="42.82" cy="67.01" r="1.98"></circle>
        <rect x="16.94" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="47.53" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="16.94" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="47.53" y="38.74" width="8.16" height="1.57"></rect>
        <rect x="25.43" y="43.76" width="7.89" height="21.26" rx="1.11"></rect>
        <circle cx="90.93" cy="69.56" r="1.7"></circle>
        <polyline points="89.23 69.56 88.09 69.56 88.09 67.42"></polyline>
        <polygon points="79.78 67.86 81.19 67.86 81.88 67.42 95 67.42 94.16 65.55 93.5 65.55 93.5 64.58 91.76 64.58 91.76 65.27 79.78 65.27 79.78 67.86"></polygon>
        <polygon points="86.06 65.27 92.93 62.01 93.19 62.35 88.92 65.27 86.06 65.27"></polygon>
        <path d="M38.9,68.42H34.59L18.45,66.68H8a3,3,0,0,1-3-3V61l.78-1.1V44.16a3.09,3.09,0,0,1,3.09-3.09H62.61c13.19,1.9,17.17,15,17.17,15V68.42h-33"></path>
      </g>
      <g fill="currentColor">
        <path d="M19.88,49.13v3.29h-8V49.13h8m2-2h-12v7.29h12V47.13Z M48,49.13v.4H42.22v-.4H48m2-2H40.22v4.4H50v-4.4Z M67.73,49.13v3.29h-8V49.13h8m2-2h-12v7.29h12V47.13Z"></path>
        <polygon points="31.34 47.13 27.4 47.13 27.4 54.42 31.34 54.42 31.34 47.13 31.34 47.13"></polygon>
      </g>
    </g>
  </svg>
</ng-container>
