<!-- This component uses some custom classes in its css file -->
<div class="styled-radio-button relative px-5 mb-6 left-align">
  <input [id]="randomId" type="radio" value="{{radioValue}}" [checked]="checked" class=" left-screen hidden absolute bg-gray-100
  focus:bg-gray-200 focus:ring-1 focus:ring-offset-2 focus:ring-gray-500 focus:border-transparent"
    (change)="callOnChange($event)" (blur)="onTouchedFN()" name="{{name}}">
  <label for="{{randomId}}" class="before:absolute before:-top-0 before:rounded-xl  pl-4 cursor-pointer
    before:left-0 before:w-6 before:h-6 before:ml-4 before:bg-gray-100 before:border-gray-200 before:border
    after:left-5 after:w-4 after:h-4 after:absolute after:top-1 after:rounded-xl after:bg-gray-500 after:opacity-0 after:scale-0
    after:transition-all after:duration-300 after:rotate-180 after:z-20 before:z-20">
      <fc-lib-label [status]="status" [touched]="touched">
        <ng-content select="[label]"></ng-content>
      </fc-lib-label>
  </label>
  <div class=" -ml-2 relative">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
