<div
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full h-full backdrop-blur-xs" [ngClass]="{'hidden': !show}">
  <div class="relative p-4 w-full h-full md:h-auto m-auto" [ngClass]="{'max-w-7xl': size === 'xl', 'max-w-4xl': size === 'lg', 'max-w-xl': size === 'md', ' max-w-md': size === 'sm', ' max-w-xs': size === 'xs'}">
    <div class="relative bg-white rounded-lg dark:bg-gray-700 shadow-2xl">
      <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
        <!-- Dialog title -->
        <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
          <ng-content select></ng-content>
        </h3>
        <button type="button" (click)="close()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xl ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white px-1.5">
          &#x2715;
        </button>
      </div>
      <!-- Dialog body -->
      <div class="p-6 space-y-6">
        <ng-content select="[content]"></ng-content>

      </div>
      <!-- Dialog footer -->
      <div class="flex items-center justify-end p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
        <ng-content select="[footer]"></ng-content>

      </div>
    </div>
  </div>
</div>
