<div class=" w-full lg:px-5 md:px-5 sm:px-3 pt-3 pb-2 font-semibold rounded-t-lg text-white md:text-3xl text-xl" [ngClass]="{ 'bg-orange-500': color === 'orange-500', 'bg-blue-200': color === 'standard'}">
  <ng-content></ng-content>
</div>
