<div class="lg:-mx-5 md:-mx-5 sm:-mx-3 text-sm md:text-base">
  <div class=" w-full py-5 px-3.5 md:px-5 border-t border-b"
    [ngClass]="{ 'border-orange-500': color === 'orange-500', 'border-blue-200': color === 'standard'}">
    <ng-content></ng-content>
  </div>
</div>
