<div class="my-4">
  <fc-lib-label [status]="status" [touched]="touched">
    <ng-content select="[label]"></ng-content>
  </fc-lib-label>
  <textarea class="mt-1 block w-full rounded-md bg-gray-100 border-transparent border-gray-200 focus:bg-white focus:ring-0"
  [placeholder]="placeholder" (change)="callOnChange($event)" (keyup)="onKeyUp($event)" (blur)="onTouchedFN()" [value]="value" [rows]="rows"></textarea>
  <div class=" relative">
    <fc-lib-input-hint [status]="status" [touched]="touched">
      <ng-content select="[hint]"></ng-content>
    </fc-lib-input-hint>
    <fc-lib-input-error [status]="status" [touched]="touched">
      <ng-content select="[error]"></ng-content>
    </fc-lib-input-error>
  </div>
</div>
